header {
    padding: 5px 20px;
    font-size: 0.9rem;
    color: rgb(85, 81, 81);
}

.FontAwesomeIcon {
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.icon {
    padding: 7px;
    cursor: pointer;
}

.movebtn {
    position: absolute;
    top: 22px;
    left: 20px;
    padding: 3px 10px;
    display: none;
    font-size: 10px;
    display: block;
    background-color: rgb(177, 233, 233);
}

.btn {
    width: 80px;
    margin: 2px 0px;
}

.item-icon {
    position: relative;
}



.body {
    display: flex;
    width: 98%;
    margin: 20px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    padding-bottom: 30px;
    height: auto;
    min-height: 200px;
    min-width: 360px;
    width: aut0;
    background-color: rgb(177, 233, 233);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 1px 1px black;
}

.list {
    display: flex;
    width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    text-align: start;
}

.photo {
    width: 40px;
    height: 30px;
    border-radius: 10px;
    background-color: aquamarine;
    margin-right: 25px;
}

.date {
    font-size: 0.7rem;
}

.title {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.desc {
    font-size: 0.8rem;
    margin-top: 8px;
    font-weight: 500;
}

.list-item {
    width: 75%;
    
}

.listed-item {
    height: auto;
}

.edit {
    width: 60px;
    background-color: rgb(153, 239, 239);
    border-radius: 40px;
    border: none;
    padding: 7px 20px 5px;
    margin: 20px auto 10px 35px;
    cursor: pointer;
}

.add{
     background-color: white;
     border-radius: 40px;
     width: 70px;
     padding: 7px 15px 5px;
     cursor: pointer;
     margin-left: 50px;
}

.item {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    margin: 20px auto;
    text-align: start;
}

small{
    color: red;
}

.second {
    width: 40px;
    height: 30px;
    border-radius: 10px;
    background-color: aquamarine;
    margin-right: 7px
}

.item-title, .item-date {
    font-size: 0.7rem;
    padding-top: 7px;
}

.item-icon {
    padding-top: 3px;
}

.plus {
    padding: 4px 10px;
    width: 60px;
    background-color: rgb(109, 234, 234);
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.addingItemDiv {
    height: auto;
    width: 310px;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    position: absolute;
    z-index: 3;
    background-color: rgb(177, 233, 233);
    padding: 20px;
    display: none;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 10px;
}

.addingItemDiv span {
    color: red;
}

.inputDiv {
    margin: 20px auto;
}

label {
    font-size: 16px;
    font-weight: 700;
}

.last {
    width: 100px;
    height: auto;
    background-color: rgb(177, 233, 233);
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px black;
}


@media only screen and (max-width: 1300px){

    .container {
        margin-bottom: 30px;
        min-width: 320px;
        width: auto;
    }

    .addingItemDiv {
        right: 10%;
    }

    .last {
        display: none;
    }
}
