header {
    width: 100%;
}

img {
    width: 100%;
    object-fit: fill;
}

/* Class Selector */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-container {
    width: 30%;
}

.logo-container h1 {
    font-size: 2.8rem;
    font-family: 'Dancing Script', cursive;
}

.logo-container span {
    margin-left: 10%;
}


.profile-container {
    display: flex;
    width: 68%;
    justify-content: flex-end;
    padding-top: 22px;
    padding-left: 20px;
}

.name {
    font-size: 1.4rem;
    font-family: cursive;
}

.title2 {
    padding: 0px 10px;
}

.img {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5rem;
    font-family: 'Dancing Script', cursive;;
    margin-left: 20px;
    width: 55px;
    border-radius: 50%;
    color: black;
    background-color: rgb(236, 180, 180);
}

@media only screen and (max-width: 819px){
    .logo-container h1 {
        font-size: 1.4rem;
    }

    .title2 {
        padding: 0px;
    }

    .logo-container span {
        font-size: 0.5rem;
        margin: 0;
    }

    .img {
        height: 50px;
    }

    .name {
        font-size: 1rem;
    }

    .profile-container {
        padding: 0;
    }

    .title {
        padding: 0;
        font-size: 0.7rem;
    }

    img {
        margin-left: 5px;
    }
}